<a href="https://colab.research.google.com/github/niroop007/Python/blob/master/For%26WhileLoopsExcercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list=[1,2,3,4,5,6]
for a in my_list:
  print(a)

In [ ]:
my_list1=[1,2,3,4,5,6,7,8,9,10]
for a in my_list1:
  print(a)
  print("Hello")

1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
Hello
7
Hello
8
Hello
9
Hello
10
Hello

In [ ]:
for num in my_list1:
  if num%2==0:
    print(f"Even nums are {num}")
  else:
    print(f"odd nums are {num}")

odd nums are 1
Even nums are 2
odd nums are 3
Even nums are 4
odd nums are 5
Even nums are 6
odd nums are 7
Even nums are 8
odd nums are 9
Even nums are 10

In [ ]:
list_sum=0
for s in my_list1:
  list_sum=list_sum+s
print(list_sum)

55

In [ ]:
for _ in "Hello World":
  print("Cool")

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [ ]:
tup_pairs_list=[(1,2),(3,4,5),('hello','world','python')]
print(len(tup_pairs_list))
for i in tup_pairs_list:
  print(i)

3
(1, 2)
(3, 4, 5)
('hello', 'world', 'python')

In [ ]:
tup_pairs_list=[(1,2,8),(3,4,5),('hello','world','python')]
print(len(tup_pairs_list))
for (a,b,c) in tup_pairs_list:
  print(a)
  print(b)
  print(c)

3
1
2
8
3
4
5
hello
world
python

In [ ]:
dic={'k1':123,'k2':4556,'k3':789}
for a,b in dic.items():
  print(a)
  print(b)

k1
123
k2
4556
k3
789

While loop

In [1]:
x=0
while x<5:
  print("Hello")
  x+=1

Hello
Hello
Hello
Hello
Hello

In [6]:
my_name='niroop'
for letter in my_name:
  if letter == "r":
    break
  print(letter)

n
i

In [9]:
for num in range(0,12,2):
  print(num)

0
2
4
6
8
10

In [10]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [11]:
#flattened for loop

In [18]:
mylist=[x for x in range(12,2)]

In [19]:
mylist

[]