<a href="https://colab.research.google.com/github/niroop007/Python/blob/master/Python_ForLoops_Excercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list=[1,2,3,4,5,6]
for a in my_list:
  print(a)

In [3]:
my_list1=[1,2,3,4,5,6,7,8,9,10]
for a in my_list1:
  print(a)
  print("Hello")

1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
Hello
7
Hello
8
Hello
9
Hello
10
Hello

In [9]:
for num in my_list1:
  if num%2==0:
    print(f"Even nums are {num}")
  else:
    print(f"odd nums are {num}")

odd nums are 1
Even nums are 2
odd nums are 3
Even nums are 4
odd nums are 5
Even nums are 6
odd nums are 7
Even nums are 8
odd nums are 9
Even nums are 10

In [14]:
list_sum=0
for s in my_list1:
  list_sum=list_sum+s
print(list_sum)

55

In [15]:
for _ in "Hello World":
  print("Cool")

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [18]:
tup_pairs_list=[(1,2),(3,4,5),('hello','world','python')]
print(len(tup_pairs_list))
for i in tup_pairs_list:
  print(i)

3
(1, 2)
(3, 4, 5)
('hello', 'world', 'python')

In [21]:
tup_pairs_list=[(1,2,8),(3,4,5),('hello','world','python')]
print(len(tup_pairs_list))
for (a,b,c) in tup_pairs_list:
  print(a)
  print(b)
  print(c)

3
1
2
8
3
4
5
hello
world
python

In [24]:
dic={'k1':123,'k2':4556,'k3':789}
for a,b in dic.items():
  print(a)
  print(b)

k1
123
k2
4556
k3
789